.whiteBackground
 {
 width: 960px;
 margin: auto;
 background-color: #FFFFFF;
 }
 
 .background
 {
 margin: auto;
 width: 940px;
 padding-top:10px;
 }
 html {
    height: 100%;
}

 body
 {
 filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#001429');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#001429));
    background: -moz-linear-gradient(top, #FFFFFF, #001429);
    height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
 }
 
 #mainBackground
 {
 
 }
 #mainBackground_header{
 background-color: #476C91;; height:25%;
 }
.content_header{
	border-top: 1px solid #001429;
	border-left: 1px solid #001429;
	border-right: 1px solid #001429;
	width:960px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin:auto;
	height:130px;
	
}
.mainBody{
border: 1px solid #001429;
border-radius: 5px;
}
.content_body{
	border-bottom: 1px solid #001429;
	border-left: 1px solid #001429;
	border-right: 1px solid #001429;
	width:960px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin:auto;
	height:auto;
	background-color: #FFFFFF;
	overflow: auto;
}
.showInline
 {
 display:inline;
 }
 
 .navigation{
 background-color: #003366;
 height:45px;
 }
 .tabs
 {
 float:left; 
 width: 12%; 
 height:20px;
 font: normal bold 14px Arial; 
 color: #F4F1F4; 
 padding-top: 5px;
 text-align: center;
  background-color: #6685A3;
  border: 1px solid #313031;
  border-radius: 5px;
  text-decoration:none;
  margin-right:7px;
 }
 .floatLeft
{
	float: left;
	width:68%;
}
.floatRight
{
	float: right;
	width:25%;
	margin-right:5px;
}
.text
{
font: normal normal 14px Tahoma, Arial, Helvetica, Sans-Serif;
color: #313031; 
text-decoration:none;
}
.rightLinks{
margin: 10px;
border: 1px solid #313031;
border-radius: 5px;
width:216px;
}

.linksHead
{
 background-color: #003366;
 width:214px;
 height: 20px;
 padding:5px 0 2px 0;
 margin:auto;
 color: #FFFFFF;
 font: normal bold 16px Tahoma, Arial, Helvetica, Sans-Serif;
 border-radius: 5px;
}

.linksBody{
background-color: #EBEBEC;

}

.linksHeight
{
height:30px;
}

.header{
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#001429', EndColorStr='#99ADC2');
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#001429), to(#99ADC2));
    background: -moz-linear-gradient(left, #001429, #99ADC2);
	
	 
}

.headerFont{
font: normal bold 30px Arial; 
color: #FFFFFF;
margin:50px;
}

.grid
{
width:190px;
height: 130px;
margin:auto;
border: 1px solid #313031;
}
 .gridTabs
 {
 float:left;  
 font: normal bold 14px Arial; 
 padding-top: 15px;
  background-color: #6685A3;
  border-radius: 5px;
  text-decoration:none;
 }
 
 h2{
 color: #003366;
 }
 
 .margin10
 {
 margin-left:10px;
 }
 
 .margin15
 {
 margin:12px;
 }
 
 .lineHeight
 {
 line-height:1.6em;
 }
.readMore
{
font: normal normal 14px Tahoma, Arial, Helvetica, Sans-Serif;
}
